<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/signin" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" />
      </div>
      <div>
        <label for="phone">Phone</label>
        <input type="number" name="phone" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" name="password" />
      </div>
      <div>
        <label for="username">username</label>
        <input type="text" name="username" />
      </div>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
