#auth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  height: 80dvh;
  margin: 10dvh auto;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 3px 8px 1px rgba(0, 0,0, 0.5), 2px 2px 5px 1px rgba(0, 0,0, 0.5);
}

.auth_left {
  width: 80%;
  margin: 5dvh auto;
}

#auth_container {
  display: flex;
  flex-direction: column;
  margin: 5dvh auto;
  height: 100%;
  width: 100%; 
}

.auth_welcome {
  text-align: center;
  font-size: 6dvh;
}

.auth_account_btn {
  border: none;
  background-color: none;
  text-decoration: underline;
  font-weight: bold;
}

.auth_google {
  font-size: 2.5dvh;
  font-weight: bold;
  padding: 1.2dvh;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2dvh;
}

.auth_or {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 3dvh 0;
}

.auth_or::before,
.auth_or::after {
  content: "";
  border-bottom: 2px solid black;
  margin: 5px;
  flex: 1;
}

#auth_input {
  display: flex;
  flex-direction: column;
  gap: 2dvh 0;
}

#auth_input > input, 
#auth_input > button{
  padding: 1.5dvh 0.5dvw;
  border-radius: 5px;
  border : none; 
  outline : 1px solid black;
  font-size: 1rem;
}

#auth_terms_conditions{
  display: flex;
  justify-content: center;
  align-content: center;
  gap:0 1dvh;
  margin: 3dvh 0;
}

.auth_forget_btn{
  margin: 2dvh 0;
  font-weight: bold;
  text-decoration: underline;
  border: none;
  text-align: left;
  font-size: 0.9rem;
}

.login_btn{
  width: 100%;
  padding: 1.5dvh 0;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: white;
}

/* ------------ Right image section of authentication page ------------- */

.auth_right {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.auth_right > img {
  height: 90%;
  width: 100%;
}
